@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-family: "Ranchers", sans-serif;
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 15px;
}

h2 {
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 13px;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

button {
  font-size: 18px;
  padding: 2px 10px;
}

#results {
  font-size: 22px;
}

.winner-msg {
  display: block;
  font-size: 29px;
  font-weight: bold;
  margin-top: 5px;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.rock-img {
  position: absolute;
  top: 300px;
  left: 40px;
  width: 25%;
}

.paper-img {
  position: absolute;
  top: 40px;
  left: 870px;
  width: 11%;
}

.scissors-img {
  position: absolute;
  top: 400px;
  left: 1400px;
  width: 18%;
  transform: rotate(15deg);
}